<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-basic-auth"
  version="1.0.0">

  <name>BasicAuthPlugin</name>
  <description>BasicAuth Plugin</description>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BasicAuth">
        <param name="android-package" value="tkou15.cordova.plugins.BasicAuth.BasicAuth"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/BasicAuth.java" target-dir="src/acn/plugins/BasicAuth" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="BasicAuth">
        <param name="ios-package" value="BasicAuth"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <header-file src="src/ios/BasicAuth.h"/>
    <source-file src="src/ios/BasicAuth.m"/>
   </platform>

</plugin>
